body{
    font-size: 16px;
}

h1{
    font-size: 60px;
    color: orange;
    font-family: sans-serif;
}

p{
    font-weight: 600;
    font-size: 3em;
}

ul{
    background-color: blue;
}

.cor-de-fundo{
    background-color: grey;
}

#amarelo{
    background-color: yellow;
}

#vermelho{
    background-color: red;
}

#marrom{
    background-color: brown;
}